body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #94bd99;
}

.btn-reddit {
    color: #fff;
    background-color: #ff4301;
    border-color: #ff4301;
}

.btn-reddit:hover {
    color: #fff;
    background-color: #d73800;
    border-color: #d23b06;
}

.btn-reddit:focus, .btn-reddit.focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 96, 41, 0.5);
}

.btn-reddit.disabled, .btn-reddit:disabled {
    color: #fff;
    background-color: #ff4301;
    border-color: #ff4301;
}

.btn-reddit:not(:disabled):not(.disabled):active, .btn-reddit:not(:disabled):not(.disabled).active,
.show > .btn-reddit.dropdown-toggle {
    color: #fff;
    background-color: #d23b06;
    border-color: #bd3708;
}

.btn-reddit:not(:disabled):not(.disabled):active:focus, .btn-reddit:not(:disabled):not(.disabled).active:focus,
.show > .btn-reddit.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 96, 41, 0.5);
}

.btn-discord {
    color: #fff;
    background-color: #7289da;
    border-color: #7289da;
}

.btn-discord:hover {
    color: #fff;
    background-color: #576aad;
    border-color: #5a6ba8;
}

.btn-discord:focus, .btn-discord.focus {
    box-shadow: 0 0 0 0.2rem rgba(126, 148, 236, 0.5);
}

.btn-discord.disabled, .btn-discord:disabled {
    color: #fff;
    background-color: #7289da;
    border-color: #7289da;
}

.btn-discord:not(:disabled):not(.disabled):active, .btn-discord:not(:disabled):not(.disabled).active,
.show > .btn-discord.dropdown-toggle {
    color: #fff;
    background-color: #5a6ba8;
    border-color: #485dac;
}

.btn-discord:not(:disabled):not(.disabled):active:focus, .btn-discord:not(:disabled):not(.disabled).active:focus,
.show > .btn-discord.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(126, 148, 236, 0.5);
}

.pass {
    color: #28a745;
}

.fail {
    color: #dc3545;
}

.callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: .25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem
}

.callout p:last-child {
    margin-bottom: 0
}

.callout code {
    border-radius: .25rem
}

.callout + .callout {
    margin-top: -.25rem
}

.callout-info {
    border-left-color: #5bc0de
}

.callout-warning {
    border-left-color: #f0ad4e
}

.callout-danger {
    border-left-color: #d9534f
}